.layer {
  position: fixed;
  z-index: 1101;
  top: var(--navbar-height);
  right: 0;
  bottom: 0;
  left: 0;
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.visible {
  opacity: 1;
  pointer-events: auto;
}
