.accordion {
  --ingredients-chevron-transform: none;

  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

.open {
  --ingredients-chevron-transform: rotate(180deg);
}
